@font-face {
  font-family: Raleway;
  src:
    local(Raleway)  
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
  line-height: 24px;
}

@font-face {
  font-family: Raleway; sans-serif;
  src:
    local(Raleway-Bold)  
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
