.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  justify-content: center;
  padding: 92px 24px 93px;
}

.menu_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: circle;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-align: left;
  padding-right: 36px;
  padding-left: 26.52px;
  color: #000;
}

.menu_list_item_no_bullit {
  list-style-type: none;
}

.menu_link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.menu_link_active {
  text-decoration: none;
}

.address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  margin-right: 62px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  text-underline-offset: 4px;
}

.logo {
  width: 100%;
  height: 105px;
}

.section_cover {
  position: relative;
  gap: 0;
  background: url(../images/cover.jpg);
  padding: 165px 50px 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center top;
  background-color: rgba(0 0 0 / 0.5);
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1000px;
  margin-bottom: 135px;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
}

.text_left {
  position: relative;
  align-self: start;
  line-height: 115px;
}

.text_center {
  position: relative;
  align-self: center;
  line-height: 100px;
}

.text_right {
  position: relative;
  align-self: end;
  line-height: 100px;
}

.standart-letter-spacing {
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover_description {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  gap: 80px;
  z-index: 1;
}

.subline {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  word-spacing: 18px;
  color: #fff;
}

.button {
  position: relative;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-transform: uppercase;
  text-align: center;
}

.section_lots {
  margin-top: 178px;
  margin-left: 24px;
}

.lots_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 25px;
  gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
}

.title_lots {
  position: relative;
  left: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #000;
}

.lot_card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.text_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 563px;
  padding: 51px 40px 48px 40px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-align: left;
  position: relative;
  z-index: 1;
}

.lot_title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 120%;
  text-underline-offset: 3.5px;
  text-decoration-thickness: 1px;
}

.lot_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lot_card_film {
  background-size: cover;
  background-position: center;
  width: 334px;
  height: 563px;
  background-image: url(../images/card-lot-01.jpg);
}

.lot_card_book {
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  background-image: url(../images/card-lot-02.jpg);
}

.lot_card_pic {
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  background-image: url(../images/card-lot-03.jpg);
}

.more {
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  color: #000;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.section_about {
  display: grid;
  grid-template-columns: 1fr 2fr 24px;
  margin-top: 146px;
  margin-left: 24px;
}

.circle_logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-left: 47px;
  margin-top: 35px;
  background: #000;
  border-radius: 100%;
}

.logo_about {
  width: 148px;
  height: 114px;
}

.text_content_about {
  margin-top: 135px;
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: #000;
}

.title_about {
  padding: 3px 0px 0px 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  text-align: left;
}

.about_text_one {
  margin-top: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: left;
}

.about_text_two {
  margin-top: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-align: left;
}

.footer {
  width: 1000px;
  height: 98px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 180px 50px 88px;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 240.52px;
  height: 98px;
  border: 1px 0px 0px 0px;
  justify-self: start;
  order: -1;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  font-style: normal;
  text-underline-offset: 4px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 33px;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  justify-self: center;
  align-self: flex-start;
}

.footer_link {
  text-decoration: none;
}

.footer_link_active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.socials {
  display: flex;
  flex-direction: row;
  width: Hug (240px) px;
  height: Hug (48px) px;
  top: 2843px;
  left: 810px;
  gap: 48px;
  justify-self: end;
  align-self: baseline;
}

.soc {
  width: 48px;
  height: 48px;
  border: 1px 0px 0px 0px;
}