.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-content: space-between;
  margin: 92px 24px 96px;
}

.menu_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1fr 1fr;
  justify-content: space-between;
  list-style-type: circle;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-align: left;
  padding-right: 36px;
  padding-left: 26.52px;
  color: #000;
}

.menu_link {
  text-decoration: none;
}

.menu_link_active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  margin-left: 184px;
  margin-right: 25.48px;
  border: 1px 0px 0px 0px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  text-underline-offset: 4px;
}

.logo {
  width: 148px;
  height: 105px;
  left: calc(50% - 148px / 2 + 2px);
}

.section_cover {
  display: grid;
  grid-template-columns: max-content;
  top: 293px;
  gap: 0px;
}

.img_cover {
  position: relative;
  background: url(../images/cover.jpg);
  width: 1100px;
  height: 757px;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center top;
  background-color: rgba(0 0 0 / 0.5);
  z-index: -2;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.cover_title {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1000px;
  height: 355px;
  margin-top: 165px;
  margin-left: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115px;
  color: #fff;
  z-index: 2;
}

.text_left {
  position: relative;
  align-self: start;
}

.text_center {
  position: relative;
  align-self: center;
}

.text_right {
  position: relative;
  align-self: end;
}

.standart-letter-spacing {
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.subline {
  position: absolute;
  width: 637px;
  height: 28px;
  margin: 667px 50px 62px 78px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  word-spacing: 80%;
  color: #fff;
}

.button {
  width: 256px;
  height: 51px;
  margin-top: 655px;
  margin-left: 794px;
  margin-right: 50px;
  border: 1px solid #fff;
  position: absolute;
  padding: 12px 32px 11px 31px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-transform: uppercase;
  text-align: center;
}

.section_lots {
  margin-top: 179px;
  margin-left: 24px;
}

.lots_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 27px;
}

.title_lots {
  position: relative;
  left: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #000;
}

.lot_card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.text_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 563px;
  padding: 51px 40px 48px 40px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-align: left;
}

.lot_title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 120%;
  text-underline-offset: 3.5px;
  text-decoration-thickness: 1px;
}

.lot_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lot_card_film {
  background-size: cover;
  background-position: center;
  width: 334px;
  height: 563px;
  background-image: url(../images/card-lot-01.jpg);
  z-index: -2;
}

.lot_card_book {
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  background-image: url(../images/card-lot-02.jpg);
  z-index: -2;
}

.lot_card_pic {
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  background-image: url(../images/card-lot-03.jpg);
  z-index: -2;
}

.more {
  position: relative;
  padding-top: 30px;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  color: #000;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.section_about {
  display: flex;
  width: 1052px;
  height: 595px;
  margin-top: 146px;
  margin-left: 24px;
}

.circle_logo {
  position: relative;
  width: 240px;
  height: 240px;
  margin-left: 47px;
  margin-top: 35px;
  background: #000;
  border-radius: 100%;
}

.logo_about {
  position: absolute;
  width: 148px;
  height: 114px;
  left: calc(50% - 148px / 2 + 0.48px);
  top: calc(50% - 114px / 2 + 1px);
}

.title_about {
  position: absolute;
  min-width: 291px;
  height: 47px;
  margin-top: 133px;
  margin-left: 359px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: #000;
  padding: 3px 0px 0px 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  text-align: left;
}

.about_text_one {
  position: absolute;
  width: 688px;
  height: 120px;
  margin-top: 283px;
  margin-left: 359px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-align: left;
  color: #000;
}

.about_text_two {
  position: absolute;
  width: 693px;
  height: 168px;
  margin-top: 427px;
  margin-left: 359px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: #000;
  text-align: left;
}

.footer {
  width: 1000px;
  height: 98px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 180px 50px 88px;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 240.52px;
  height: 98px;
  border: 1px 0px 0px 0px;
  justify-self: start;
  order: -1;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  font-style: normal;
  text-underline-offset: 4px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 33px;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  justify-self: center;
  align-self: flex-start;
}

.footer_link {
  text-decoration: none;
}

.footer_link_active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.socials {
  display: flex;
  flex-direction: row;
  width: Hug (240px) px;
  height: Hug (48px) px;
  top: 2843px;
  left: 810px;
  gap: 48px;
  justify-self: end;
  align-self: baseline;
}

.soc {
  width: 48px;
  height: 48px;
  border: 1px 0px 0px 0px;
}